.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  display: grid;
  text-align: center;
  padding: 1rem 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.apartment {
  
}